<div class="footer color-blue col-xs-12 col-md-12 ">
    <div class="container-fluid ">
        <div class="col-md-6 col-md-offset-1">&#169; 2016 Reliance Inc</div>
        <div class="social col-md-6 col-md-offset-1">
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            <i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>