<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div id="slider">
                <figure>
                <img class="homeImage" src="static/images/home/1.jpg" alt="">
                <img class="homeImage" src="static/images/home/2.jpg" alt="">
                <img class="homeImage" src="static/images/home/3.jpg" alt="">
                <img class="homeImage" src="static/images/home/4.jpg" alt="">
                <img class="homeImage" src="static/images/home/6.jpg" alt="">
                </figure>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row color-white">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="page-content container fullwidth ">
                <p>
                    Across industries, companies need to engage customers in real-time, through a myriad of consumer touch points - web, social media, 
                    smartphones, tablets and many more. As customers demand innovative and affordable products and services, companies must keep pace 
                    by adapting - both to new customer engagement and experience strategies and disruptive technologies, across social, mobile, cloud, 
                    big data, and analytics.
                </p>
                <br />
                <p>
                    Technology isn't just changing the rules; it's also changing the drivers behind your business success, while creating previously unrealized opportunities for growth.
                </p>
                <p>
                    Seamlessly engaging with your customer has never been easier, or more critical, and customer expectations are evolving quickly.
                    Through intelligent search, personalized experiences, ubiquitous mobile access, and shared experience in social media, customers are connected and informed. They have more options, more access and more influence; they want to be recognized, engaged, rewarded, and empowered.
                </p>
            </div>
        </div>
    </div>
</div>
