<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <style>
            table {
                border:solid;
                border-width:1px;
            }
                table tr:nth-child(2n) {
                    background-color:red;
                }
                table tr th {
                    background-color:#e8e8e8
                }
        </style>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>Page</th>
                <th>Source</th>
            </tr>
            <tr>
                <td>Vision</td>
                <td>http://www.macsyn.com/mission-vision.php
                    <br />
                    http://www.integra.co.in/about-us/mission-vision-values/
                </td>
            </tr>
            <tr>
                <td>Mission</td>
                <td>http://www.macsyn.com/mission-vision.php</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </body>
</html>
