<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/vision/vision1.jpg" alt="">
                            <img class="inner-Banner" src="static/images/vision/vision2.jpg" alt="">
                            <img class="inner-Banner" src="static/images/vision/vision3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/vision/vision4.jpg" alt="">
                            <img class="inner-Banner" src="static/images/vision/vision5.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>