<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Data Management/Data Mgmt1.png" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Data Management/Data Mgmt1.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Data Management/Data Mgmt3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Data Management/Data Mgmt5.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Data Management/Data Mgmt7.png" alt="">
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <p class="Page-Content"> 
                        We have the capbility to manage the various type of data as per clients requirements. It includes Global to local, ecosystem-wide to siloed, structure & 
                        unstructured, internal & external data sources – we’ve handled a wide-range of Data Management engagements over the years and succeeded where other 
                        suppliers have come-up short.
                    </p>
                    <p class="Page-Content">
                        We always works in trusted data sources, data governance processes, our custom tools and skilled data analysts, and your business rules in order to resolve 
                        exceptions and improve the quality and effectiveness of data assets within your product, financial, supply chain, and customer information management 
                        systems.
                    </p>
                    <div class="Page-Content">
                        <h1 style="color:skyblue">Our Data Quality Solutions</h1>
                        <ul>
                            <li>Profiling</li>
                            <li>Formatting, standardization, structuring</li>
                            <li>Cleaning & de-duplication</li>
                            <li>Matching, including fuzzy-logic, and creating integrated entities</li>
                            <li>Hierarchy Management</li>
                            <li>Enrichment</li>
                            <li>Real time data quality capabilities</li>
                            <li>Connectivity/ adaptors</li>
                            <li>Monitoring & scorecards</li>
                            <li>Taxonomy & library capabilities</li>
                            <li>Metadata capabilities</li>
                            <li>On-site/ off-shore flexible-fit resource model</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>