<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng5.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng6.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng4.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng1.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>