<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng5.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng6.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng4.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Employee Engagement/Emp Eng1.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <p class="Page-Content">
                        Its an important factor for any organization to keep its employee engazed with organization. A dis-employee can never perform better and cannot provides
                        results which are essential for business growth or client satisfaction. An organization can survive only if, its employees are happy and engazed with the company.
                     </p>
                    <p class="Page-Content">
                        Engagement of an employee help us in understanding the employee's interest in work towards the organization and its clients. A happy employee will alaways results in high performance
                        and imporved productivity, which result in more profitability for organization as well as employee. 
                    </p>
                    <div class="Page-Content">
                        There are various steps which need to be followed by an organization to know about their employee engagement
                        <ul>
                            <li>
                                <strong>Design</strong>
                                <ul>
                                    <li>an organization should do organized survey time to time to know about their employee's thoughts about work environment</li>
                                    <li>Engagement survay should be in language which your employees speaks</li>
                                    <li>Pre survey communications should take place</li>
                                    <li>post survey completion, data collection should be done</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Analyze</strong>
                                <ul>
                                    <li>Overview about personalize and real time insight</li>
                                    <li>Employer should analyze different segments of survey</li>
                                    <li>Employer should understand about areas which need to be focused</li>
                                    <li>YOY Trends</li>
                                </ul>
                            </li>
                             <li>
                                <strong>Recommend</strong>
                                <ul>
                                    <li>Detailed findings about survey</li>
                                    <li>Uncover / list downs the employee's issues found in survey</li>
                                    <li>Work upon the targeted recommendation to make an employee more engaged</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>