<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research1.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research2.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research4.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research5.jpg" alt="">
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <p class="Page-Content">
                        We are leading provider of research solutions across a variety of industries globally. We understand that our clients works in a highly competitive
                        ecosystem and ever changing environment, hence we provide solution to make them enable to work in this dificult situations. Our distinctive aproach to
                        resolve the problems and our innovations make us different from others and provide us global reach to different clients.
                    </p>
                    <p class="Page-Content">
                        Our experts are fully experienced, powered by technology have the capabilites to provide end-to-end solutions to our clients. Their deep domain knowlede,
                        strategic thinking help in delivering highly accurate, reliable and repeatable results.
                    </p>
                    <div class="Page-Content">
                        Our comprehensive research solutions include:
                        <p>
                            <ul>
                                <li>
                                    <strong>Global Panel:</strong>
                                    <p>As part of our global panel solutions we also provide fully integrated online research project management platform which allows to easily track 
                                       and manage every detail of a global research project online. <br />
                                   
                                       We also help our clients in reaching to most hard to reach audience, consumers, business profeionals and vendors.

                                    </p>
                                </li>
                                <li>
                                    <strong>Research Operations:</strong>
                                    <p>
                                        Many business leaders thanks us for making them enable taking more accurate, fast and correct decision with the help of our comprehensive
                                        end-to-end solutions.
                                        <ul>
                                            <li><strong>Survey Programming:</strong>
                                                <p>
                                                    We have experience of many years in survey programing. We have designed and developed surveys on various plateforms as per different client's requirements
                                                </p>
                                            </li>
                                            <li><strong>Data Processing:</strong>
                                                <p>
                                                    We have extensive experience in data processing. Our different data processing solutions also provides features for data formatting, processing, tabulation,
                                                    open end coding and statistical analysis. With the help of these diverse soultions we are able to help our clients in achieving their business results with great sucess
                                                </p>
                                            </li>
                                        </ul>
                                    </p>
                                </li>
                                <li>
                                    <strong>Business Research:</strong>
                                    <p>
                                        Our profesional resources have experties in various domains and industries in Indian marketplace, which helps our clients transform 
                                        insights into competitive advantage. Our business solutions address all of our clients problems accross a variety of domains.
                                    </p>
                                </li>
                                <li>
                                    <strong>Reporting Solutions:</strong>
                                    <p>
                                        We provide various type of reporting solutions to our clients as per their needs. These solutions includes many visual dashboards with graphical representation of data
                                        as well as tabular representation of data.
                                        <ul>
                                            <li><strong>Online/Real time and Offline Dashboards:</strong>
                                                <ul>
                                                    <li>Insight and access into critical data, KPIs and metrics</li>
                                                    <li>Ease of use</li>
                                                    <li>Key to business action</li>
                                                    <li>On the fly results</li>
                                                </ul>
                                            </li>
                                            <li><strong>Manual and Automated Reporting:</strong>
                                                <p>
                                                    Our reporting expert team have profesional knowledge of designing in-depth reports, proofreading and population. Manual as well as automated reports are
                                                    designed and developed by our experts. We do a cost benefit analysis and suggest client the optimal solution for their need.
                                                </p>
                                            </li>
                                            <li><strong>Simulators:</strong>
                                                <p>
                                                    Many times our clients have requirements based on various scenario like what-if, in that case our experts provide the strategic decision making tools, which
                                                    helps our clients in designing the reports as per their need to the decision more quickly. 
                                                </p>
                                            </li>
                                        </ul>
                                    </p>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>