<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research1.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research2.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research4.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Research Services/research5.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>