<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="row">
                <div class="row">
                    <div id="slider">
                        <figure>
                            <img class="inner-Banner" src="static/images/Solution/Visual Analytics/Visual Analytics5.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Visual Analytics/Visual Analytics2.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Visual Analytics/Visual Analytics3.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Visual Analytics/Visual Analytics6.jpg" alt="">
                            <img class="inner-Banner" src="static/images/Solution/Visual Analytics/Visual Analytics4.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>